<div class="container">
    <div class="row justify-content-center">
        <h3>Turnos</h3>
    </div>
    <!-- <div class="row"> -->
    <!-- <div class="col m-2">
            <input type="text" (input)="onSearchChange($event.target.value)" placeholder="Buscar..." />
        </div> -->
    <!-- <div class="col-4 m-2">
            <button class="btn btn-danger btn-block" (click)="downloadPDF()">Descargar PDF</button>
        </div> -->
    <!-- </div> -->
    <div class="row mb-2">
        <div class="col-sm">
            <button *ngIf="userService.getCurrentUser()?.role == 'client'" type="button" class="btn btn-success" 
                    data-toggle="modal" data-target="#newAppointmentModal">
                    Nuevo turno</button>
        </div>
        <div class="col-sm">
            <button *ngIf="userService.getCurrentUser()?.role == 'specialist'" 
                    type="button" class="btn btn-danger">[PDF]</button>
        </div>
        <div class="col-sm">
            <!-- Otro botón (Descargar CSV quizá) -->
        </div>
    </div>
    <div class="row">
        <div *ngIf="!getValuesForTable()?.length && userService.getCurrentUser()" class="col text-center">
            <h5 class="text-danger justify-content-center d-block">No hay turnos para el usuario</h5>
        </div>
        <table *ngIf="getValuesForTable()?.length > 0" class="table table-bordered">
            <thead>
                <tr>
                    <th *ngIf="userService.getCurrentUser()?.role == 'specialist'" scope="col">Cliente</th>
                    <th *ngIf="userService.getCurrentUser()?.role == 'client'" scope="col">Especialista</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appointment of getValuesForTable()" (click)="onSelect(appointment)"
                    class="row-clickable" [ngClass]="{active:'table-info',attended:'table-success',cancelled:'table-danger'}[appointment.status]"
                     data-toggle="modal" data-target="#detailAppointmentModal">
                    <td *ngIf="userService.getCurrentUser()?.role == 'specialist'" >{{ getClientNameForUid(appointment.client) | titlecase}}</td>
                    <td *ngIf="userService.getCurrentUser()?.role == 'client'" >{{ getSpecialistNameForUid(appointment.specialist) | titlecase}}</td>
                    <td>{{ appointment.date.seconds * 1000 | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ appointment.time }}</td>
                    <td>{{ getStatus(appointment.status) | titlecase}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="modal fade" id="detailAppointmentModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <app-appointment-detail [selectedAppointment]="selectedAppointment" 
                                    [allUsers]="allUsers" 
                                    [role]="userService.getCurrentUser()?.role"
                                    (updateAppointment)=updateAppointment($event)></app-appointment-detail>
        </div>
    </div>

    <div class="container">
        <div class="modal fade" id="newAppointmentModal" 
             tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             data-backdrop="static" data-keyboard="false" aria-hidden="true">
            <app-appointment-new [allAppointments]="filteredAppointments" 
                                 [allUsers]="allUsers"
                                 [allSpecialities]="allSpecialities" 
                                 [role]="'asdasdasda'"
                                 (saveAppointment)=saveNewAppointment($event)></app-appointment-new>
        </div>
    </div>
</div>