<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Turno</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Fecha</label>
            <!-- <input type="text" class="form-control" readonly /> -->
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
                #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="speciality">Especialidad</label>
            <select class="form-control" formControlName="speciality" id="exampleFormControlSelect1">
              <option value="" disabled selected hidden>Elegir especialidad</option>
              <option *ngFor="let speciality of specialities">{{speciality}}</option>
            </select>
            <!-- <small *ngIf="model.role.errors?.required">El rol es requerido</small> -->
          </div>
          <div class="form-group">
            <label for="specialist">Especialista</label>
            <select class="form-control" formControlName="specialist" id="exampleFormControlSelect1">
              <option value="" disabled selected hidden>Especialista</option>
              <option *ngFor="let specialist of specialists">{{specialist}}</option>
            </select><!-- <small *ngIf="model.role.errors?.required">El rol es requerido</small> -->
          </div>
          <div class="form-group">
            <label for="schedule">Horario</label>
            <select class="form-control" formControlName="schedule" id="exampleFormControlSelect1">
              <option value="" disabled selected hidden>Horario</option>
              <option *ngFor="let schedule of schedules">{{schedule}}</option>
            </select><!-- <small *ngIf="model.role.errors?.required">El rol es requerido</small> -->
          </div>
          <br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>