<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true"> -->
<!-- <div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Turno</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="modal-body">
        <div class="form-group">
          <label for="nombre">Fecha1</label>
          <input type="text" class="form-control" value="{{selectedAppointment.date}}" readonly/>
        </div>

        <div class="form-group">
          <label>Fecha</label>

          <div class="input-group" disabled>
            <input class="form-control"placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
              (dateSelect)="onDateSelected($event)" #d="ngbDatepicker" disabled>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="speciality">Especialidad</label>
          <select class="form-control" id="exampleFormControlSelect1"
            (change)=onSpecialitySelected() disabled>
            <option value="" disabled selected hidden>Elegir especialidad</option>
            <option *ngFor="let speciality of allSpecialities" [ngValue]="speciality">{{speciality.name}}</option>
          </select>

        </div>

        <div class="form-group">
          <label for="specialist">Especialista</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option value="" disabled selected hidden>Especialista</option>
            <option *ngFor="let specialist of filteredSpecialists" [ngValue]="specialist">{{specialist.displayName}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="schedule">Horario</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option value="" disabled selected hidden>Horario</option>
            <option *ngFor="let schedule of filteredSchedules">{{schedule}}</option>
          </select>
        </div>
        <br>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="logValues()">Guardar turno</button>
      </div>
    </form>
  </div>
</div> -->
<!-- </div> -->