<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title text-center" id="exampleModalLabel">Detalle de turno</h5>
    </div>

    <div class="modal-body">
      <label for="date-time">Fecha y hora</label>
      <div class="input-group mb-3">
        <input value="{{selectedAppointment?.date.seconds * 1000 | date: 'dd/MM/yyyy'}} - {{selectedAppointment?.time}}"
          type="text" class="form-control" id="date-time" disabled>
      </div>

      <!-- <div *ngIf="true">
        <label for="specialist">Especialista</label>
        <div class="input-group mb-3">
          <input value="{{getUsernameFor(selectedAppointment?.specialist)}}" type="text" class="form-control" id="specialist" disabled>
        </div>
      </div> -->

      <div *ngIf="false">
        <label for="client">Cliente</label>
        <div class="input-group mb-3">
          <input value="{{getUsernameFor(selectedAppointment?.client)}}" type="text" class="form-control" id="client"
            disabled>
        </div>
      </div>

      <label for="status">Estado</label>
      <div class="input-group mb-3">
        <input value="{{getStatus()}}" type="text" class="form-control" id="status" disabled>
      </div>

      <!-- Muestro para editar la reseña si -->
      <div *ngIf="selectedAppointment?.specialistReview || markedAsAttended">
        <label for="specialist-review">Reseña del especialista</label>
        <div class="input-group mb-3">
          <textarea class="form-control" aria-label="With textarea" 
                    [(ngModel)]="selectedAppointment.specialistReview"
                    [disabled]="disableSpecialistReview()">
          </textarea>
        </div>
      </div>

    </div>
    <div *ngIf="canMarkAsAttended()" class="modal-footer">
      <button *ngIf="canMarkAsAttended()" type="button" 
              class="btn btn-success" 
              (click)="markAttended()">Marcar como atendido
      </button>
    </div>
    <div class="modal-footer d-block">
      <div class="row justify-content-center">
        <h5>Encuesta</h5>
      </div>
      <div>
      <label>Clinica</label>
      <div class="input-group mb-2">
        <ngb-rating [(rate)]="selected" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly"></ngb-rating>
      </div>
      <label>Especialista</label>
      <div class="input-group mb-2">
        <ngb-rating [(rate)]="selected" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly"></ngb-rating>
      </div>
      <label>Breve descripción</label>
      <div class="input-group mb-3"></div>
    </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" 
              data-dismiss="modal" #closeModal
              (click)="closeModalForm()">Cerrar
      </button>
      <button *ngIf="this.userRole == 'specialist' && markedAsAttended" 
              type="button" class="btn btn-primary" 
              (click)="updateAppointmentReviewAndStatus()"
              [disabled]=!markedAsAttended>Guardar cambios
      </button>
      <button *ngIf="canCancelAppointment()" 
              type="button" class="btn btn-danger" 
              (click)="cancelAppointment()">Cancelar turno
      </button>
    </div>
  </div>
</div>